<div class="app-card-container">
  <div class="card">
    <h1>Get In Touch</h1>
    <p>
    I am currently looking for new opportunities and projects! Send a message and I'll be sure
    to get back to you.
    </p>
    <p>E-mail: <%=mail_to "jgarcia12@utexas.edu"%></p>
    <%= mail_to "jgarcia12@utexas.edu", "Contact", class: "btn btn-primary" %>


  </div>

</div>