

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Joseph G.</h1>
          <p class="lead">
            The #4 most popular hispanic web developer in the San Antonio Northside area.
                        
          </p>
        <p class="lead">
          <%= link_to "Enter", about_path, class: "btn btn-lg btn-secondary" %>
        </p>
      </main>

      
    